nav {
  display: flex;
  border-bottom: 2px solid  rgba(255, 255, 255, 0.12);
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  z-index: 999;
  position: sticky;
  top: 0;
  background: #121212;
}

input {
  padding: 12px 20px;
  border: none;
  background: #f7f6f6;
  outline: none;
  margin-right: 20px;
  border-radius: 5px;
  position: relative;
  width: 14rem;
}

.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}

.cart-total {
  position: absolute;
  background: red;
  color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 1.7;
  top: -8px;
  right: -11px;
}